@model BilgeKoleji.Models.kullanici

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>kullanici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ogrenci.adSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ogrenci.adSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ogretmen.adiSoyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ogretmen.adiSoyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.veli.adSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veli.adSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kulAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kulAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.silindiMi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.silindiMi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
