@model BilgeKoleji.Models.ogrenci_belge

@{
    ViewBag.Title = "Delete";
}


<div>
    <h4>Ögrenci-Belge Sil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ogrenci.adSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ogrenci.adSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.belgeYolu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.belgeYolu)
        </dd>

       

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Öğrenci-Belge Listesi", "Index")
        </div>
    }
</div>
