@model BilgeKoleji.Models.veli

@{
    ViewBag.Title = "Veli Sil";
}


<div>
    <h4>Veli Sil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.adSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tcKimlik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tcKimlik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.evTelefonu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.evTelefonu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isTelefonu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isTelefonu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ilIlce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilIlce)
        </dd>

       

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Veli Listesi", "Index")
        </div>
    }
</div>
