@model BilgeKoleji.Models.ogrenci

@{
    ViewBag.Title = "Ogrenci_duzenle";
}


<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="~/anasayfa/index">Anasayfa</a>
        </li>
        <li>
            <a href="~/ogrenciler/index">Öğrenciler</a>
        </li>
        <li class="active">Öğrenci Düzenle</li>
    </ul>
</div>

<div class="page-content">

    <div class="row">
        <div class="col-xs-12">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h5>Öğrenci Düzenle</h5>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.onKayitMi)
                    @Html.HiddenFor(model => model.id)
                    @Html.HiddenFor(model => model.silindiMi)
                   

                    <div class="form-group">
                        @Html.LabelFor(model => model.adSoyad, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.adSoyad, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.adSoyad, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.okulNo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.okulNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.okulNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.cinsiyet, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("cinsiyet", new[]
              {
                  new SelectListItem {  Text="Kız",Value= Convert.ToString(false)},
                  new SelectListItem {  Text="Erkek",Value= true.ToString()},
              })
                            @Html.ValidationMessageFor(model => model.cinsiyet, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.veli_id, "veli_id", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("veli_id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.veli_id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.bitirdigiOkul, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.bitirdigiOkul, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.bitirdigiOkul, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.devamDurumu, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.devamDurumu)
                                @*@Html.ValidationMessageFor(model => model.devamDurumu, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Kaydet" class="btn btn-default btn-sm" />
                        </div>
                    </div>
                </div>
            }

            <a href="@Url.Action("index", "ogrenciler")" class="btn btn-info btn-xs btn-flat pull-right">Geri Dön</a>

           
        </div>
    </div>
</div>