@model BilgeKoleji.Models.ders

@{
    ViewBag.Title = "Ders Sil";
}


<div>
    <h4>Ders Sil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._ders.isim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._ders.isim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isim)
        </dd>

       

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Ders Listesi", "Index")
        </div>
    }
</div>
